{% extends "auctions/layout.html" %}

{% block body %}
    <h2 style="text-align: center;">Active Listings:</h2>

    {% for listing in listings %}
        <div style="border-width: 1;
                    border-color: grey;
                    border-style: solid;
                    margin-top: 10px;">
            <div style="margin-top:10px;
                        float: right;
margin-right:10px">
            {% if listing.photo_url %}
                <img src="{{listing.photo_url}}" alt="Listing_photo" height="200">
            {% else %}
                <img src="https://www.freeiconspng.com/uploads/no-image-icon-23.jpg" alt="Listing_photo"  height="200">
            {% endif %}
            </div>
            <p></p>
            <div style="margin-left:10px;
                       margin-bottom:10px">
            <a href="{% url 'listing' listing.id %}"><h3><strong>{{listing.title}}</strong></h3></a>
            <br>
                <b>Description</b>: {{listing.description}}
            <p></p>
                <b>Category</b>: {{listing.category}}
            <p></p>
                <b>Current price</b>:
                {% if listing.starting_bid > listing.highest %}
                {{listing.starting_bid}}$
                {% else %}
                {{listing.highest}}$
                {% endif %}
            <p></p>
            <b>Date added</b>: {{listing.date_added}}
            </div>
        </div>
    {% endfor %}


{% endblock %}