{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings %}
        <div style="border-width:1;
                    border-color: black;
                    border-style: solid;">

            {% if listing.photo_url %}
                <img src="{{listing.photo_url}}" alt="Listing_photo" width="150" height="150">
            {% else %}
                <img src="https://www.freeiconspng.com/uploads/no-image-icon-23.jpg" alt="Listing_photo" width="150" height="150">
            {% endif %}
            <p></p>
            <a href="{% url 'listing' listing.id %}"><h3>{{listing.title}}</h3></a>
            <br>
            Description: {{listing.description}}
            <p></p>
            Category: {{listing.category}}
            <p></p>
            Owner: {{listing.owner}}
            <p></p>
            Date added: {{listing.date_added}}


        </div>
    {% endfor %}


{% endblock %}