{% extends "auctions/layout.html" %}

{% block body %}
<h1 align="center">{{ listing.title }}</h1>
<div style="float:right;
            margin-right:10px;">
    {% if listing.photo_url %}
        <img src="{{listing.photo_url}}" alt="Listing_photo" height="400">
    {% else %}
        <img src="https://www.freeiconspng.com/uploads/no-image-icon-23.jpg" alt="Listing_photo"  height="400">
    {% endif %}

</div>
<div>
    {% if not signed %}
        <form action="{% url 'listing' listing.id %}"  method="POST" name="watchlist">
            {% csrf_token %}
            {% if show %}
                <button class="btn btn-primary" type="submit" name="watchlist">Add to watchlist</button>
            {% else %}
                <button class="btn btn-primary" type="submit" name="watchlist">Remove from watchlist</button>
            {% endif %}
            {% if show_closing %}
                <button class="btn btn-primary" type="submit" name="active">Close Auction</button>
            {% endif %}
        </form>
    {% endif %}
    {% if listing.active %}
    <b>Status</b>: <strong style="color:green">Active</strong>
    {% else %}
    <b>Status</b>: <strong style="color:grey">Finished</strong>
    {% endif %}
    <p></p>
    <p><b>Category</b>: <strong style="color:blue">{{listing.category}}</strong></p>
    <b>Starting bid</b>: <strong style="color:blue">{{listing.starting_bid}}$</strong>
    <p></p>
    {% if listing.active %}
    <p><b>Current bid</b>: <strong style="color:blue">{{ highest_bid }}$</strong> by {{ highest_owner }}</p>
    <p><b>Listing owner</b>: <strong style="color:blue">{{ listing.owner }}</strong></p>
        <a href="{% url 'bid' listing.id %}"><h3>Place a bid</h3></a>
    {% else %}
        {% if user == highest_owner %}
        <h1 style="color:red;">You have WON this auction !!!</h1>
        {% else %}
        Winner bid: {{ highest_bid }}
        {% endif %}
    {% endif %}

    <a href="{% url 'comment' listing.id %}"><h3>Leave a comment</h3></a>
</div>
<p></p>
<div style="display: block;">
<h1>Comments:</h1>
    <ul>
        {% for comment in comments %}
        <li>{{comment}}</li>
        {% endfor %}
    </ul>


</div>
{% endblock %}
